<h1>Editing Album Photo</h1>

<%= render 'form', album_photo: @album_photo %>

<%= link_to 'Show', @album_photo , class: 'btn btn-primary'%> |
<%= link_to 'Back', album_photos_path , class: 'btn btn-primary'%>
