<nav class="navbar navbar-dark bg-inverse">
  <ul class="nav navbar-nav">
  </ul>
    <ul class="hmenu">
      <%= render 'devise/menu/registration_items' %>
      <%= render 'devise/menu/login_items' %>
    </ul>
</nav>